    {% load socialaccount %}
    <!--부트스트랩에서 가져온 코드 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Cat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>                
            <li class="nav-item">
                <a class="nav-link" href="/about_me/">About Me</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <!-- 로그인 버튼 -->
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href='#' id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                  <img class="rounded-circle" width="25px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                {% else %}
                  <img class="rounded-circle" width="50px" src='https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjExMTNfMjYw%2FMDAxNjY4MzQ4MzQxMDUy.hVzuTcBgXp3U0kv3L-G_FIHblg5MV9UJNy8yRVHNheUg.PXcbkSqvW8Jpafy5pGVeyz6nQdcyQuKPaLuzb8h3P3gg.JPEG.chaeyeon07177%2FIMG_8691.JPG&type=sc960_832'>
                {% endif %}
                &nbsp;
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i> &nbsp; Log In</h1>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <div class="row">
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i> &nbsp; Log in with Google</a>
                <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="/accounts/login/"><i class="fa-regular fa-envelope"></i> &nbsp; Log in with Username</a>
              </div>
              <div class="col-md-6">
                <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="/accounts/signup/"><i class="fa-regular fa-envelope"></i> &nbsp; Sign Up with E-mail</a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>